@model IEnumerable<Trash_Collector.Models.Collection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegularCollectionDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraCollectionDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExtraCollectionConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemporarySuspensionStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemporarySuspensionEnd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegularCollectionDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraCollectionDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExtraCollectionConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemporarySuspensionStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemporarySuspensionEnd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
